[CONFIG]
TOKEN: yourtelegramTokenHere

CHATID: yourTelegramChatIDHere

##Where you want to show your Pokéstoplocation? CUSTOM = on your RM or Monocle | GMAPS = show on Google Maps
MAPMODE: GMAPS

##Leave MAPURL empty if you use GMAPS
MAPURL:

MADMINURL: http://localhost:5000

##If you use the basic auth from MADmin, fill this. Leave it empty if you dont use it.
USER: USERNAME

PASS:PASSWORD

##change this to change the weekdate language. Be careful, Windows has other locales than Linux. See https://docs.microsoft.com/en-us/cpp/c-runtime-library/language-strings?view=vs-2017
LOCALE: en-US

##Pokedex numbers of questrewards
POKEMON: 102,113,131,142,147,246,327,345

##amount of stardust to be listed
STARDUST: 1000,1500

##amount of rare candy to be listed
RARECANDY: 3,2,1
